[Unit]
Description=spark
After=network.target

[Service]
{% for key, value in spark_env.items() %}
Environment={{ key | trim | upper }}="{{ value }}"
{% endfor %}
Type=simple
WorkingDirectory={{ spark_home }}
User={{ spark_user }}
ExecStart={{ spark_home }}/sbin/start-master.sh
ExecStop={{ spark_home }}/sbin/stop-master.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
